
.container{
    padding:5%;
}
.main{
    margin:2%;
    font-family: 'Arial', sans-serif;
}
.col {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.col-full{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
header{
    color: #ffffff;
    border-radius: 20px;
    background-color: #181919;
}

.text-center{
    text-align: center;
}

.padding-top{
    padding-top: 5%;
}

.text-right{
    text-align: right;
}

main{
    margin-left: 2%;
}
.section-title-long{
    border-bottom: 3px solid currentColor;
    display: inline-block;
    width: 70%;
    margin-bottom: 10px;
    margin-top: 5%;
}
.section-title{
    border-bottom: 3px solid currentColor;
    display: inline-block;
    width: 30%;
    margin-bottom: 10px;
    margin-top: 5%;
}
.section-list-item{
    padding-bottom: 1%;
}

.section-list{
    padding-left: 3%;
}

.date{
    font-size: 0.8rem;
}
.section-text{
    line-height: 1.6;
}

.image{
    max-width: 240px;
    border-radius: 10px;
}

ul {
    display: grid;                 /* Activa el grid layout */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Define columnas responsivas */
    gap: 50px;                     /* Espacio entre los elementos */
    list-style: none;              /* Elimina las viñetas de la lista */
    padding: 0;                    /* Remueve el relleno predeterminado */
    margin-bottom: 10px;                     /* Remueve el margen predeterminado */
}
li {
    background-color: #201f1f;   /* Color de fondo */
    padding: 15px;                 /* Espaciado interno */
    text-align: center;            /* Centra el texto */
    border-radius: 7px;            /* Bordes redondeados */
    color: white;
}
