#container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0;
    padding: 20px;
}

.card {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: aqua;
}

.cvHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cvBody {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
    

.cvBody .listContactInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    padding: 0;
}

.listContactInfo li {
    display: flex;
    flex-direction: row;
}

.summary {
    width: 70%;
    margin: 10px;
}

.professionalExpirence .list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.edication ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.edication ul .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin: 0;
    
}

#PorfilePhoto {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.cvBody .listContactInfo li {
    list-style-type: none;
}
