body {
  font-size: 10px;
}
.main {
  margin: 0.5rem;
}
section {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.main__encabezado {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(90, 157, 237, 0.71);
  padding: 3rem;
  font-size: 50px;
}

.main__pantalla{
  height: 18rem;
  background-color: black;
  padding: 0.5rem;
}
.pantalla__img{
  width: 100%;
  height: 100%;
}
.fila__titulo{
  font-size: 1rem;
  color: rgba(4, 2, 44, 0.86);
}
.asientos__fila{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
}
.fila__butaca{
  width: 3rem;
  height: 3rem;
  border: 2px solid #290101;
}
.fila__butaca__activa{
  width: 3rem;
  height: 3rem;
  border: 2px solid #200202;
  background-color: #420101;
}
.main__butacas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form_asientos__input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input__label{
  color: #022929;
  font-size: 2rem;
}
.form_asientos__btn{
  color: black;
  font-weight: bold;
  height: 3rem;
  width: 80%;
  background-color: rgba(119, 255, 94, 0.71);
  border-radius: 10px;
  font-size: 24px;
}
.input__input{
  height: 4rem;
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}
.main__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(138, 248, 174, 0.34);
  font-size: 14px;
}